*, *::before, *::after { 
    box-sizing: border-box;
}
:root { 
    --text-white: white;
    --text-black: black;
    --body-color: black;
    --cell-color: black;
    --cell-size: 100px;
}
body { 
    margin: 0;
    padding: 0;
}
.board { 
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 100vh;
}
.board .cell { 
    height: var(--cell-size);
    width: var(--cell-size);
    background-color: black;
}